# Dependencias
node_modules/

# Carpeta de build de producción
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos de entorno local (¡IMPORTANTE!)
.env.local
.env.development.local
.env.test.local
.env.production.local
.env # Si usas un .env genérico para secretos locales

# Archivos de configuración de IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Otros
coverage/
*.tgz

# Archivo de lock (opcional - algunos prefieren versionarlo, otros no)
# package-lock.json
# yarn.lock